.hero {
  height: 80vh;
  width: 100%;
  background: radial-gradient(
    circle at bottom left,
    #ffeeea 5%,
    #fffdfd,
    #fffdfd,
    #fffdfd
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  align-self: flex-end;
}

.hero-header {
  text-align: center;
  line-height: 2;
}

.hero-header span {
  color: #ee786b;
}

.hero-img {
  height: 35vh;
  width: 100%;
  object-fit: cover;
}

.first-section {
  padding: 24px 32px;
}
.services {
  padding-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.card {
  display: flex;
  align-items: center;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding: 16px;
  gap: 8px;
  width: 100%;
  border-radius: 8px;
}
.card-circle {
  padding: 16px;
  border-radius: 100%;
}
.card-description {
  font-weight: 300;
}

.second-section {
  padding: 0px 32px 0px;
}
.testemonials {
  padding-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.testemonial1,
.testemonial2 {
  text-align: justify;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 8px;
  height: 300px;
  font-size: 18px;
  line-height: 1.8;
}
.testemonial1 {
  width: 30%;
  background-color: rgb(255, 225, 204);
}
.testemonial1 p {
  position: absolute;
  bottom: 16px;
  left: 24px;
  right: 24px;
  z-index: 2;
  font-weight: 600;
}
.testemonial2 {
  flex: 1;
}
.bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  overflow: hidden;
}
.client {
  position: absolute;
  top: 12px;
  left: 16px;
  padding: 2px 16px;
  border-radius: 24px;
  color: #fffdfd;
  background-color: rgba(223, 218, 218, 0.5);
  font-weight: 300;
  font-size: 14px;
  z-index: 2;
}
.testemonial2 p {
  position: absolute;
  bottom: 16px;
  left: 24px;
  right: 24px;
  color: #fffdfd;
  z-index: 2;
  font-weight: 600;
}
.overlay {
  background-color: rgba(97, 89, 89, 0.3);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  position: absolute;
  border-radius: 8px;
}

.active {
  border-bottom: 4px solid #ee786b;
  padding-bottom: 4px;
  color: #ee786b;
  font-weight: 700;
}
.count {
  position: absolute;
  top: -4px;
  right: -4px;
  background-color: #ee786b;
  color: #fffdfd;
  z-index: 9000;
  border-radius: 100%;
  font-size: 12px;
  padding: 2px 6px;
}
.icon-text {
  font-weight: 700;
  font-size: 20px;
}

.faq {
  padding: 24px 32px;
}
.faq h2 {
  padding: 0px 18px;
}
.accordion {
  margin-top: 16px;
  /* max-width: 800px; */
}
.contentBox {
  position: relative;
  margin: 16px 24px;
}
.accordion-label {
  position: relative;
  padding: 16px 24px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #bab3b2;
}

.accordion-label::before {
  content: "+";
  position: absolute;
  top: 12px;
  right: 24px;
  /* transform: translate(-50%); */
  font-size: 24px;
}

.accordion-content {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
  overflow-y: auto;
  text-align: justify;
}
.accordion-content::-webkit-scrollbar {
  display: none;
}

.active-accordion {
  height: auto;
  padding: 24px;
}
