body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #fffdfd;
  color: #080100;
  margin: 0px;
  font-size: 16px;
  padding: 0;
}
p,
h1,
h2 {
  margin: 0px;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
a {
  text-decoration: none;
  color: #210401;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
  z-index: 999;
  /* background-color: red; */
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fffdfd;
}
.vr {
  border-left: 1px solid #bab3b2;
  min-height: 30px;
}

.logo {
  font-weight: 700;
  font-size: 28px;
}
.logo-img {
  height: 28px;
  width: 30px;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-list li {
  padding-right: 16px;
}
.nav-link:hover {
  color: #ee786b;
}

.user-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: -32px;
  top: calc(100% + 0.25rem);
  z-index: 50;
  background-color: #fffdfd;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  border: 0.2px solid #bab3b2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown-menu a {
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.hr {
  border-bottom: 0.2px solid #bab3b2;
}
.primary-btn {
  background-color: #ff988d;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  color: #fffdfd;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
  /* background-color 0.3s ease */
}
.primary-btn:focus {
  outline: none; /* focus:outline-none */
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 1),
    0 0 0 4px rgba(255, 214, 209, 0.8);
}

.secondary-btn {
  color: #ff988d;
  padding: 12px 24px;
  font-size: 16px;
  border: 2px solid #ff988d;
  border-radius: 8px;
  background-color: #fffdfd;
  cursor: pointer;
}

footer {
  padding: 24px 32px;
}

footer p {
  color: #615959;
  text-align: center;
  padding-top: 16px;
}
footer hr {
  color: #bab3b2;
  margin: 0px;
}

.input {
  width: calc(100% - 16px);
  padding: 8px;
  border: 1px solid #8e8484;
  border-radius: 8px;
  font-size: 16px;
  transition: box-shadow 0.4s ease;
}
.input:focus {
  outline: none; /* focus:outline-none */
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 1),
    0 0 0 4px rgba(255, 214, 209, 0.8);
}

.icon-button {
  padding: 8px 8px;
  border-radius: 8px;
  border: 1px solid #080100;;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  background: none;
  cursor: pointer;
}
::placeholder {
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
}
