body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #fffdfd;
  color: #080100;
  margin: 0px;
  font-size: 16px;
  padding: 0;
}
button {
  font-family: "Space Grotesk", sans-serif;
}
p,
h1,
h2 {
  margin: 0px;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
a {
  text-decoration: none;
  color: #080100;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
  z-index: 999;
  /* background-color: red; */
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fffdfd;
}
.vr {
  border-left: 1px solid #bab3b2;
  min-height: 30px;
}

.logo {
  font-weight: 700;
  font-size: 28px;
}
.logo-img {
  height: 28px;
  width: 30px;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-list li {
  padding-right: 16px;
}
.nav-link {
  transition: border-bottom 0.3s ease, color 0.3s ease;
}
.nav-link:hover {
  border-bottom: 4px solid #ee786b;
  padding-bottom: 4px;
  color: #ee786b;
  font-weight: 700;
}

.user-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: -32px;
  top: calc(100% + 0.25rem);
  z-index: 50;
  background-color: #fffdfd;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  /* border: 0.2px solid #bab3b2; */
  border: 0.2px solid #bab3b2;

  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown-menu a,
.dropdown-menu p,
.dropdown-menu form button {
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.dropdown-menu form button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px;
  font-size: 16px;
}
.hr {
  /* border-: 0.2px solid #bab3b2; */
  border-bottom: 0.2px solid #bab3b2;
}
.primary-btn {
  background-color: #ff988d;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  color: #fffdfd;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
  /* background-color 0.3s ease */
}
.primary-btn:focus {
  outline: none; /* focus:outline-none */
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 1),
    0 0 0 4px rgba(255, 214, 209, 0.8);
}
.primary-btn-small {
  background-color: #ff988d;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 8px;
  color: #fffdfd;
  border: none;
  cursor: pointer;
  font-weight: 300;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}
.secondary-btn-small {
  color: #ff988d;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ff988d;
  border-radius: 8px;
  background-color: #fffdfd;
  cursor: pointer;
  font-weight: 300;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}
.regular-btn {
  color: #080100;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #080100;
  border-radius: 8px;
  background-color: #fffdfd;
  cursor: pointer;
  font-weight: 300;
}

.secondary-btn {
  color: #ff988d;
  padding: 12px 24px;
  font-size: 16px;
  border: 2px solid #ff988d;
  border-radius: 8px;
  background-color: #fffdfd;
  cursor: pointer;
}

.red-btn-regular {
  background: none;
  /* padding: 12px 24px; */
  font-size: 16px;
  /* border: 8px; */
  color: #f56262;
  border: none;
  cursor: pointer;
}

footer {
  padding: 24px 32px;
}

footer p {
  color: #615959;
  text-align: center;
  padding-top: 16px;
}
footer hr {
  color: #bab3b2;
  margin: 0px;
}

.input {
  width: calc(100% - 16px);
  padding: 8px;
  border: 1px solid #bab3b2;
  border-radius: 8px;
  font-size: 16px;
  transition: box-shadow 0.4s ease;
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
}
.input:focus {
  outline: none; /* focus:outline-none */
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 1),
    0 0 0 4px rgba(255, 214, 209, 0.8);
}

.icon-button {
  padding: 8px 8px;
  border-radius: 8px;
  border: 1px solid #080100;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  background: none;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}
::placeholder {
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
}

.toast {
  position: fixed;
  top: 24px;
  right: 24px;
  padding: 16px;
  border-radius: 8px;
  z-index: 10000;
  background-color: #fffdfd;
  border-width: 2px;
  border-style: solid;
}
.toast.success {
  border-color: #3bcc08;
  color: #3bcc08;
}
.toast.error {
  border-color: #f56262;
  color: #f56262;
}
.toast.warning {
  border-color: #faa364;
  color: #faa364;
}
.error {
  color: #f56262;
  font-size: 14px;
  font-weight: 300;
  display: block;
  margin-bottom: -4px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.table {
  /* min-width: 100%; */
  font-size: 16px;
  /* border-bottom: 1px solid #bab3b2; */
  width: 100%;

}
.table thead{
  text-align: left;
  /* border-bottom: 1px solid #bab3b2; */
}
.table thead th,
.table tbody td {
  padding: 6px 4px;
}
.table th, .table td {
  border-bottom: 1px solid #bab3b2;
}
